body{
	background-color: #EBFFCB;
}
.container{
	margin-right: 10px;
	margin-left: 10px;
	width: 99%;
}
.dc-chart path.line {
	stroke-width: 3px;
}
circle, .dot {
	r: 5px;
}
.reset, .dc-chart .pie-slice, .dc-chart g.row text{
	fill: black;
	font-size: smaller;
}
.reset{
	position: absolute;
	bottom: 85px;
}
.info{
	text-align: center;
	font-size: large;
	font-weight: bold;
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
}
.footer{
	text-align: center;
	white-space: nowrap;
	color: gray;
	background-color: black;
}